<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCampusConnectX"
        android:usesCleartextTraffic="true">

        <!-- Splash screen — app entry point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartCampusConnectX.Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Gateway / Secure Login activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"/>

        <activity android:name=".SuperAdminActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Super Admin Portal" />

        <activity android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Admin Operations Console" />

        <activity android:name=".LecturerActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Lecturer Workspace" />

        <activity android:name=".StudentActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Student Portal" />

        <activity android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="My Profile" />

        <activity android:name=".GenericRoleDashboard"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Campus Portal" />

        <activity android:name=".QrScanActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartCampusConnectX.NoActionBar"
            android:label="Scan Attendance QR"
            android:screenOrientation="portrait" />

    </application>
</manifest>
